header {
  background-color: #83AAF0;
  padding: .5em;
  color: white;
  text-align: center;
  box-shadow: 0px -1px 5px #2F2F2F;
}

h1 {
  font-family: 'Audiowide', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 1.25em;
  color: white;
  padding: .25em;
  font-weight: 400;
}

p {
  font-family: Helvetica, sans-serif;
  color: darkgoldenrod;
  padding: .25em;
  font-size: 1em;
}

h3, h4, p {
  margin: .25em;
}

.login p {
  color: white;
  margin: 0 .25em;
  padding: 0 .25em;
}

#main-header a {
  text-decoration: none;
  font-family: 'Audiowide', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}

#current-community {
  font-family: Helvetica, sans-serif;
  color: white;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: indianred;
}

section {
  max-width: 80%;
  margin: .5em auto;
  text-align: center;
}

article {
  text-align: left;
  font-family: 'Crimson Text', Georgia, serif;
  padding: .5em;
  margin: 0;
  background-color: #FFF8F3;
  border: 2px solid darkgoldenrod;
}

form {
  background-color: #FFF8F3;
  width: 50%;
  margin: 1em auto;
  color: darkgoldenrod;
  text-align: center;
  padding: .5em;
  border-radius: 8px;
}

form div {
  margin: .5em .2em;
}

form input {
  display: block;
  padding: .5em;
  margin: .5em auto;
}

form button {
  margin: .5em;
}

input[type="radio"] {
  display: inline;
}

label {
  vertical-align: top;
}

.button {
  width: 6em;
  height: 2em;
  display: inline-block;
  background-color: indianred;
  color: white;
  text-align: center;
  font-size: 1.25em;
  border-radius: 8px;
}

.button-inert {
    background-color: rgba(205,92,92,0.35);
}

#post-exp-button {
  margin: .5em auto;
  width: 6em;
  height: 2em;
  display: inline-block;
  background-color: #FFF8F3;
  color: indianred;
  text-align: center;
  font-size: 1.25em;
  border-radius: 8px;
  cursor: pointer;
}

#edit-exp-button {
  margin: .5em auto;
  width: 6em;
  height: 2em;
  display: inline-block;
  background-color: #FFF8F3;
  color: indianred;
  text-align: center;
  font-size: 1.25em;
  border-radius: 8px;
  cursor: pointer;
}


#favorite-user-button, #back-button {
  margin: .25em;
  width: 6em;
  height: 2em;
  display: inline-block;
  background-color: #FFF8F3;
  color: indianred;
  text-align: center;
  font-size: 1.25em;
  border-radius: 8px;
  cursor: pointer;
}

#sort-buttons {
  list-style: none;
  padding: 0;
  margin: .25em .25em 0;
}

#sort-buttons li {
  color: indianred;
  display: inline-block;
  padding: .25em;
  background-color: #FFF8F3;
  border-radius: 3px 3px 0 0;
}

.home-info {
  padding: .25em;
  text-align: center;
  color: white;
}

.home-info h2 {
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
}