header {
  background-color: cornflowerblue;
  padding: 1em;
  color: white;
}

.subheader {
  background-color: indianred;
  color: white;
}

form {
  margin: 1em;
  color: darkgoldenrod;
}

form input {
  display: block;
  padding: .25em;
  margin: .25em;
}

input[type="radio"] {
  display: inline;
}

label {
  vertical-align: top;
}